controller_manager:
  ros__parameters:
    update_rate: 100  # Hz

joint_state_broadcaster:
  type: joint_state_broadcaster/JointStateBroadcaster

joint_trajectory_controller:
  type: joint_trajectory_controller/JointTrajectoryController
  joints: [joint_0, joint_1, joint_2, joint_3, joint_4]
  command_interfaces: [position]
  state_interfaces: [position]